USE [master]
GO
/****** Object:  Database [BDG10]    Script Date: 24/09/2024 02:44:30 ******/
CREATE DATABASE [BDG10]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BDG10', FILENAME = N'E:\SQL\MSSQL16.MSSQLSERVER\MSSQL\DATA\BDG10.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BDG10_log', FILENAME = N'E:\SQL\MSSQL16.MSSQLSERVER\MSSQL\DATA\BDG10_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BDG10].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BDG10]
GO
/****** Object:  Table [dbo].[CUOTAS]    Script Date: 24/09/2024 02:44:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CUOTAS](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[ID_PRESTAMOS] [int] NULL,
	[NUMERO_CUOTA] [int] NULL,
	[MONTO_CUOTA] [decimal](10, 2) NULL,
	[FECHA_VENCIMIENTO] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EJECUTIVO_RELACION]    Script Date: 24/09/2024 02:44:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EJECUTIVO_RELACION](
	[ID_EJECUTIVO] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRES] [varchar](255) NULL,
	[APELLIDO_PATERNO] [varchar](255) NULL,
	[APELLIDO_MATERNO] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_EJECUTIVO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EMPRESAS]    Script Date: 24/09/2024 02:44:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMPRESAS](
	[ID_EMPRESA] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE_EMPRESA] [varchar](255) NULL,
	[FECHA_REGISTRO] [date] NULL,
	[ID_SIC] [varchar](20) NULL,
	[RUC] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_EMPRESA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ESTADOS_FINANCIEROS]    Script Date: 24/09/2024 02:44:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ESTADOS_FINANCIEROS](
	[ID_EEFF] [int] IDENTITY(1,1) NOT NULL,
	[ID_EMPRESA] [int] NULL,
	[ANIO] [date] NULL,
	[VENTAS] [int] NULL,
	[COSTOS] [int] NULL,
	[DEUDA] [int] NULL,
	[UTILIDAD_NETA] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_EEFF] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GARANTIAS]    Script Date: 24/09/2024 02:44:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GARANTIAS](
	[ID_GARANTIA] [int] IDENTITY(1,1) NOT NULL,
	[TIPO_GARANTIA] [varchar](255) NULL,
	[MONTO] [float] NULL,
	[ID_OPERACION] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_GARANTIA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HISTORIAL_CREDITICIO_EXTERNO]    Script Date: 24/09/2024 02:44:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HISTORIAL_CREDITICIO_EXTERNO](
	[ID_HISTORIAL] [int] IDENTITY(1,1) NOT NULL,
	[ID_EMPRESA] [int] NULL,
	[RUC] [varchar](20) NULL,
	[FECHA_MES] [date] NULL,
	[MORA_SF] [int] NULL,
	[CLASIFICACION_SBS] [int] NULL,
	[NUMERO_DE_IF] [int] NULL,
	[DEUDA_SF] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_HISTORIAL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PAGOS]    Script Date: 24/09/2024 02:44:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PAGOS](
	[ID_PAGOS] [int] IDENTITY(1,1) NOT NULL,
	[MONTO_PAGO] [float] NULL,
	[FECHA_PAGO] [date] NULL,
	[METODO_PAGO] [varchar](255) NULL,
	[DIAS_MORA] [int] NULL,
	[ID_CUOTAS] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_PAGOS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRESTAMOS]    Script Date: 24/09/2024 02:44:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRESTAMOS](
	[ID_OPERACION] [int] IDENTITY(1,1) NOT NULL,
	[ID_EMPRESA] [int] NULL,
	[MONTO] [float] NULL,
	[ESTADO_PRESTAMO] [varchar](255) NULL,
	[TASA_INTERES] [decimal](18, 0) NULL,
	[FECHA_INICIO] [date] NULL,
	[FECHA_VENCIMIENTO] [date] NULL,
	[ID_EJECUTIVO] [int] NULL,
	[SITUACION_CONTABLE] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_OPERACION] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SCORE]    Script Date: 24/09/2024 02:44:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SCORE](
	[ID_SCORE] [int] IDENTITY(1,1) NOT NULL,
	[ID_EMPRESA] [int] NULL,
	[FECHA_EVAL] [date] NULL,
	[SCORE] [varchar](15) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_SCORE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SECTOR]    Script Date: 24/09/2024 02:44:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SECTOR](
	[ID_SECTOR] [int] IDENTITY(1,1) NOT NULL,
	[ID_SIC] [varchar](20) NULL,
	[NOMBRE_SECTOR] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_SECTOR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CUOTAS]  WITH CHECK ADD FOREIGN KEY([ID_PRESTAMOS])
REFERENCES [dbo].[PRESTAMOS] ([ID_OPERACION])
GO
ALTER TABLE [dbo].[ESTADOS_FINANCIEROS]  WITH CHECK ADD FOREIGN KEY([ID_EMPRESA])
REFERENCES [dbo].[EMPRESAS] ([ID_EMPRESA])
GO
ALTER TABLE [dbo].[GARANTIAS]  WITH CHECK ADD FOREIGN KEY([ID_OPERACION])
REFERENCES [dbo].[PRESTAMOS] ([ID_OPERACION])
GO
ALTER TABLE [dbo].[HISTORIAL_CREDITICIO_EXTERNO]  WITH CHECK ADD FOREIGN KEY([ID_EMPRESA])
REFERENCES [dbo].[EMPRESAS] ([ID_EMPRESA])
GO
ALTER TABLE [dbo].[PAGOS]  WITH CHECK ADD FOREIGN KEY([ID_CUOTAS])
REFERENCES [dbo].[CUOTAS] ([id])
GO
ALTER TABLE [dbo].[PRESTAMOS]  WITH CHECK ADD FOREIGN KEY([ID_EJECUTIVO])
REFERENCES [dbo].[EJECUTIVO_RELACION] ([ID_EJECUTIVO])
GO
ALTER TABLE [dbo].[PRESTAMOS]  WITH CHECK ADD FOREIGN KEY([ID_EMPRESA])
REFERENCES [dbo].[EMPRESAS] ([ID_EMPRESA])
GO
ALTER TABLE [dbo].[SCORE]  WITH CHECK ADD FOREIGN KEY([ID_EMPRESA])
REFERENCES [dbo].[EMPRESAS] ([ID_EMPRESA])
GO
USE [master]
GO
